{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="col-lg-12 text-center mt-5">
      <ul class="social-links icon-box list-unstyled list-inline font-weight-500 mb-3">
        {{range site.Params.social}}
        <li class="list-inline-item text-center"><a href="{{.url}}" aria-label="social-icon" target="_blank">
          <i class="lab {{.icon}}"></i>
        </a></li>
        {{end}}
      </ul>
      <ul class="social-links icon-box list-unstyled list-inline font-weight-500 mb-3"></ul>
      <i class="las la-map-marked-alt"></i>
      <p class="font-primary mb-1">金門縣金寧鄉埔邊35號
      <i class="las la-envelope"></i>
      </p>
      <p class="font-primary mb-3">e-mail:abi@TopsEducation.com</p>
      <e-mail>abi@TopsEducation.com</e-mail>
      </ul>
      <br>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3632.292525376666!2d118.3144295750252!3d24.44063427820576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3414a317bf972b49%3A0x11e2ce27fe6a6682!2z542655-l576O6KqeIFRvcHMgRWR1Y2F0aW9u!5e0!3m2!1szh-TW!2stw!4v1682235924526!5m2!1szh-TW!2stw" 
      width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!--
      <div class="col-8">
        <form action="{{site.Params.contact_form_action}}" method="post">
          <div class="mb-4">
            <label for="name" class="form-label">Full Name</label>
            <input type="text" class="form-control" id="name" name="name" required>
          </div>
          <div class="mb-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
          </div>
          <div class="mb-4">
            <label for="subject" class="form-label">Subject</label>
            <input type="text" class="form-control" id="subject" name="subject" required>
          </div>
          <div class="mb-4">
            <label for="message" class="form-label">Message</label>
            <textarea class="form-control" id="message" rows="4" name="message" required></textarea>
          </div>

          <button type="submit" class="btn btn-primary" aria-label="Send Message">Send Now</button>
        </form>
      </div>
    -->
  </div>
</section>

{{ end }}
