{{define "main"}}

<section class="section-sm">
  <div class="container">
    <div class="row justify-content-center">

      {{ with .Params.image }}
      <div class="col-lg-10 mb-5">
        {{ partial "image.html" (dict "Src" . "Class" "img-fluid rounded" "Alt" "about image") }}
      </div>
      {{ end }}

      <div class="content mt-3">
        {{.Content}}
      </div>

        {{ if .Params.social.enable }}
        {{ with .Params.social }}
        <ul class="social-links list-unstyled list-inline mt-4">
          {{ range .social_links }}
          <li class="list-inline-item"><a href="{{.link | safeURL}}">
              <i class="lab {{.icon}}"></i>
            </a></li>
          {{end}}
        </ul>
        {{ end }}
        {{ end }}

      </div>
    </div>
  </div>
</section>

{{end}}